---
import { Image } from "astro:assets";
import appStoreBadge from "../images/apple/appstore_black.svg";
import googlePlayBadge from "../images/android/google-play-badge.png";
import qrCodeView from "../images/views/qrcode_view.png";

import Layout from "../layouts/Layout.astro";
import { CAMPAIGN_IDS } from "../constants";
import DownloadBadge from "../components/DownloadBadge";
---

<Layout 
    title="QR Me | Download"
    pageDescription="Download for free on iOS and Android. Quickly and easily share your contact information with a QR Code."
    showNavbar={false}
    backgroundColor={"var(--color-app)"}
>
    <div class="header">
        <div class="header-text">
            <a href="/" class="header-title">
                <h1>QR Me - Contact</h1>
            </a>
            <div class="download-buttons">
                <DownloadBadge platform="ios" defaultSource={CAMPAIGN_IDS.DOWNLOAD_PAGE} client:only/>
                <DownloadBadge platform="android" defaultSource={CAMPAIGN_IDS.DOWNLOAD_PAGE} client:only/>
            </div>
            <div>
                <p>Download for free on iOS and Android!</p>
                <p>Quickly and easily share your contact information with a QR Code</p>
            </div>
        </div>
        <div class="screenshot-frame">
            <Image 
                class="header-screenshot" 
                src={qrCodeView} 
                alt="Screenshot of QR Me Contact's homepage displaying a QR Code and a user's contact information"
            />
        </div>
    </div>
</Layout>

<script>
    import { CAMPAIGN_IDS } from "../constants";
    import { getAttributionSource } from "../utils";

    // Defer the loading of the script until the window has rendered,
    // so it isn't a blank screen after redirecting
    window.addEventListener('load', function() {
        // Check if the user is on iOS or Android
        const isiOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !("MSStream" in window);
        const isAndroid = /Android/.test(navigator.userAgent);

        // Check if the user is coming from qrme.contact
        const referrer = document.referrer;
        const isFromQRMeContact = referrer.includes("qrme.contact");

        const source = getAttributionSource(CAMPAIGN_IDS.DOWNLOAD_PAGE);

        if (isAndroid) {
            // Open the Google Play Store link
            window.location.replace(`https://play.google.com/store/apps/details?id=com.chasecarnaroli.qrme_contact&utm_source=${source}`);
        } else if (isiOS || isFromQRMeContact) {
            // Open the Apple App Store link
            // This is also the default if the user is coming from qrme.contact because the App Store listing is nicer
            window.location.replace(`https://apps.apple.com/app/apple-store/id1412627381?pt=119166549&ct=${source}&mt=8&platform=iphone`);
        }
    });
</script>

<style>
    a {
        display: block;
    }

	.header {
        height: 100%;
        min-height: 100vh;
		margin: auto;
		display: flex;
		flex-direction: row;
		gap: 1em;
		justify-content: center;
        align-items: center;
	}

    .header-title {
        text-decoration: none; color: inherit;
    }

	.header-text {
        display: flex;
        flex-direction: column;
        gap: 1em;
		text-align: center;
		max-width: 400px;
        transform: translateY(-100px);
	}

	.header-text p {
		text-wrap: balance;
	}

	.screenshot-frame {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2em;
	}

	.header-screenshot {
		height: 70vh;
        width: auto;
		aspect-ratio: auto;
	}

    .download-buttons {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

	@media only screen and (max-width: 500px) {
		header {
			height: auto;
		}

		.header {
			flex-direction: column;
			gap: 0px;
		}

		.header-text {
			padding: 0;
			margin: auto;
            transform: translateY(0);
		}
	}
</style>